html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #848f78;
}

p, span {
  color: #4a2212;
  font-family: 'Roboto', sans-serif;
}

.column {
  height: 100%;
  float: left;
}

#columnLeft {
  width: 60%;
}

#columnRight {
  position: absolute;
  right: 0;
  width: 40%;
  box-shadow: 0 0 100px 100px #848f78;
  z-index: 4;
}

#map {
  height: 110%;
  width: 100%;
  /* margin: 10px; */
  /* box-shadow: 0 0 8px 8px white inset; */
  /* box-shadow: 0 0 100px 100px #848f78 inset; */
  /* filter: blur(10px); */
  /* box-shadow: 1px 1px 2px; */
}

#key {
  padding: 20px;
  margin: 20px;
  box-shadow: 1px 1px 2px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

#month {
  position: absolute;
  background-color: white;
  left: 30px;
  top: 20px;
  width: 50%;
  height: 30px;
  z-index: 3;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  box-shadow: 1px 1px 2px;
  border-radius: 2px;
  white-space: nowrap;
  text-align: center;
}

#description {
  padding: 20px;
}

.monthName {
  padding: 10px;
  color: #8c5641;
}

#selected {
  color: #4a2212;
  font-size: 20px;
  padding: 10px;
}

.keyImg {
  width: 30px;
  vertical-align: -40%;
  margin-right: 5px;
}

#dot {
  height: 30px;
  background-color: rgb(255, 255, 255, .4);
  border-radius: 50%;
  display: inline-block;
}
