html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  color: #4a2212;
}

.column {
  /* width: 50%; */
  height: 100%;
  float: left;
}

#columnLeft {
  width: 60%;
}

#columnRight {
  width: 40%;
}

#map {
  height: 97%;
  width: 100%;
  margin: 10px;
  box-shadow: 1px 1px 2px;
}

#key {
  position: absolute;
  background-color: white;
  width: 100px;
  left: 40%;
  bottom: 50px;
  padding: 10px;
  box-shadow: 1px 1px 2px;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}

#month {
  position: absolute;
  background-color: white;
  left: 30px;
  top: 30px;
  width: 80px;
  height: 50px;
  z-index: 3;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 1px 2px;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}

#description {
  padding: 20px;
}
