#map {
  height: 100%;
  margin: 40px;
  /* z-index: 1; */
}
#month {
  position: absolute;
  background-color: white;
  left: 700px;
  top: 80px;
  z-index: 3;
  padding-left: 20px;
  padding-right: 20px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
